/*
*/


@use 'styles/vars' as *;

.card {
	// #region general
	margin-block-end: 1.2rem;
	position: relative;
	border-bottom: 0.2rem solid var(--border);
	@include widthMobile;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-block-end: 1.6rem;
	}

	&_main {
		display: flex;
		align-items: center;
		flex-wrap: wrap-reverse;
		gap: 0.8rem;
		margin-block-end: 0.8rem;
	}

	&_content {
		width: 100%;
	}

	&_subcontent {
		width: 100%;
		margin-block: 1.6rem;
	}

	&_actions {
		display: flex;
		justify-content: flex-end;
		gap: 2.4rem;
		margin-block-end: 1.6rem;
	}

	&_footer {
		display: flex;
		width: 100%;
	}

	// #endregion


	// #region others
	// #endregion


	// #region derived states
	.flexend {
		justify-content: flex-end;
	}

	// #endregion


	// #region media queries
	@include tablet {
		&_main {
			flex-wrap: nowrap;
		}
	}

	@include desktop {
		&_main {
			gap: 1.8rem;
		}

		@include widthDesktop;
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}
