@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_heading {
		&_main {
			display: flex;
			align-items: center;
			gap: 1.6rem;
		}

		&_head {
			margin-block-start: 1.6rem;
		}
	}

	&_title {
		margin-block-start: 1.6rem;
	}

	&_main {
		margin-block-end: 6.4rem;
	}

	&_section {
		margin-block-end: 2.4rem;
	}

	&_structure {
		height: 40rem;
		width: 100%;
		margin-block: 3.2rem;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}