@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&_heading {
		width: 100%;

		&_main {
			display: flex;
			align-items: center;
			gap: 1.6rem;
		}

		&_head {
			margin-block-start: 1.6rem;
		}
	}

	&_title {
		margin-block-start: 1.6rem;
	}

	&_main {
		width: 100%;
		margin-block-end: 6.4rem;
	}

	&_section {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		margin-block: 2.4rem 6.4rem;
	}

	&_element_full {
		width: 100%;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	&_loading {
		display: grid;
		place-content: center;
		height: 75svh;
	}

	&_loader {
		text-align: center;
		padding: 4rem 2rem;
		min-height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	// #endregion


	// #region media queries
	@include tablet {
		&_section {
			margin-block-end: 14rem;
		}

		&_actions {
			position: fixed;
			left: 2.4rem;
			right: 2.4rem;
			bottom: 6.4rem;
			margin-bottom: 0;
		}
	}

	@include desktop {
		@include fontSizeDesktop;

		&_section {
			margin-block-end: 0;
		}

		&_actions {
			position: static;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			margin-block-start: 3.2rem;

			button {
				width: 40rem;
			}
		}
	}

	@include large {}

	// #endregion
}