@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3.2rem;

		&_description {
			font-size: $p1;
			color: $white;
			text-align: center;
		}

		&_more {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 2.4rem;
		}
	}

	&_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block-start: 9.6rem;
	}

	&_select {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;

		&_panel {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 3.2rem;
			margin-block: 1.6rem;
		}

		&_loading {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50svh;
			width: 100%;
		}

		&_wrapper {
			width: 100%;
		}

		hr {
			width: 100%;
		}
	}

	&_background {
		position: relative;
		width: 100%;
		height: 100svh;
		overflow: hidden;

		&_image {
			position: absolute;
			inset: 0;
			background: url('/images/background_molecule.png') center/cover no-repeat;
			filter: blur(4px);
			transform: scale(1.05);
			opacity: 0.25;
			z-index: -1;
		}

		&_overlay {
			position: absolute;
			inset: 0;
			background: var(--background-overlay);
			z-index: 1;
		}
	}

	&_link {
		position: fixed;
		bottom: 2.4rem;
		left: 1.6rem;
	}


	&_tooltip {
		display: flex;
		align-items: center;
		gap: 2.4rem;
		bottom: 12rem;
		left: 1.6rem;
		position: fixed;
	}

	&_title {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		color: var(--content-secondary);
	}

	&_loading {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 40svh;
		width: 100%;

		&_bar {
			width: 100%;
		}
	}

	&_footer {
		display: none;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {
		&_link {
			left: 2.4rem;
		}

		&_select {
			margin-block: 4.8rem;

			&_wrapper {
				display: flex;
				flex-direction: column;
			}

			&_panel {
				width: 40rem;
				align-self: center;
			}
		}

		&_footer {
			display: block;
			position: fixed;
			bottom: 8.2rem;
			right: 2.4rem;
		}
	}

	@include desktop {
		@include fontSizeDesktop;

		&_select {
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 4.8rem;

			&_divisor {
				display: none;
			}

			&_wrapper {
				height: 100%;
				width: fit-content;
			}

			&_panel {
				align-self: flex-start;
			}

		}

		&_footer {
			bottom: 0rem;
		}

		&_tooltip {
			bottom: 2.4rem;
		}
	}

	@include large {
		&_link {
			left: 3.2rem;
		}

		&_select {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// #endregion
}