/* 
*/
@use 'styles/vars' as *;


.input {
	// #region general
	@include widthInputMobile;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_title {
		margin-block-end: 1.2rem;
		color: var(--content);
	}

	&_main {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		padding: 1.2rem;
		margin-block-end: 1.2rem;
		border-bottom: 0.1rem solid var(--border);
		background-color: var(--background-secondary);
	}

	&_symbol {
		display: grid;
		place-content: center;

		span {
			border-radius: 50%;
		}
	}

	&_element {
		width: 100%;
		height: 2.4rem;
		border: none;
		cursor: pointer;
		background-color: transparent;
		color: var(--content);
	}

	&_icon {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
		gap: 1.2rem;

		span {
			color: var(--accent);
			border-radius: 50%;
		}
	}

	&_symbol {
		.icon {
			filter: invert(95%) sepia(95%) saturate(1%) hue-rotate(193deg) brightness(105%) contrast(100%);
		}

		span {
			color: var(--content-secondary);
			border-radius: 50%;
		}
	}

	&_hints {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	// #endregion


	// #region others 
	&_element:focus-visible {
		outline: none;
	}

	&_main:hover,
	&_main:focus-within,
	&_main:focus-visible {
		outline: 0.2rem solid var(--border-selected);
	}

	// #endregion


	// #region derived states 
	.bold {
		font-weight: 700;
	}

	&.warning:not(.disabled) {
		.input {
			&_main {
				border-color: var(--border-warning);
			}

			&_main:hover,
			&_main:focus-within,
			&_main:focus-visible {
				outline: 0.2rem solid var(--border-warning);
			}

			&_icon span {
				color: var(--warning);
			}
		}
	}

	&.error:not(.disabled) {
		.input {
			&_main {
				border-color: var(--border-negative);
			}

			&_main:hover,
			&_main:focus-within,
			&_main:focus-visible {
				outline: 0.2rem solid var(--border-negative);
			}

			&_icon span {
				color: var(--negative);
			}
		}
	}


	&.done:not(.disabled) {
		.input {
			&_main {
				border-color: var(--border-positive);
			}

			&_main:hover,
			&_main:focus-within,
			&_main:focus-visible {
				outline: 0.2rem solid var(--border-positive);
			}

			&_icon span {
				color: var(--positive);
			}
		}
	}

	&.disabled {
		.input {

			&_label,
			&_element,
			&_symbol span,
			&_main::placeholder {
				color: var(--content-disabled);
			}

			&_main {
				border-color: var(--border-disabled);
				background-color: var(--background-disabled);
			}

			&_main:hover,
			&_main:focus-within,
			&_main:focus-visible {
				outline: none;
			}

			&_element {
				cursor: not-allowed;
				color: var(--content-disabled);
			}
		}
	}

	// #endregion


	// #region media queries
	@include tablet {
		@include widthInputTablet;
	}

	@include desktop {
		@include fontSizeDesktop;
		@include widthInputDesktop;
	}

	@include large {}

	// #endregion
}