.loader-spinner-1 {
	aspect-ratio: 1;
	border-radius: 50%;
	border: 0.6rem solid;
	border-color: var(--animation) #0000;
	animation: s1 1s infinite;
}

@keyframes s1 {
	to {
		transform: rotate(.5turn)
	}
}



.loader-spinner-2 {
	aspect-ratio: 1;
	border-radius: 50%;
	border: 0.6rem solid var(--animation-background);
	border-right-color: var(--animation);
	animation: s2 1s infinite linear;
}

@keyframes s2 {
	to {
		transform: rotate(1turn)
	}
}



.loader-spinner-3 {
	padding: 0.6rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--animation);
	--_m:
		conic-gradient(#0000 10%, #000),
		linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: s3 1s infinite linear;
}

@keyframes s3 {
	to {
		transform: rotate(1turn)
	}
}



/* NOTE: THIS ORIGINALLY IS THE NUMBER 7 */
.loader-spinner-4 {
	width: 50px;
	aspect-ratio: 1;
	--_c: no-repeat radial-gradient(farthest-side, var(--animation) 92%, #0000);
	background:
		var(--_c) top,
		var(--_c) left,
		var(--_c) right,
		var(--_c) bottom;
	background-size: 12px 12px;
	animation: s4 1s infinite;
}

@keyframes s4 {
	to {
		transform: rotate(.5turn)
	}
}



/* NOTE: THIS ORIGINALLY IS THE NUMBER 12*/
.loader-spinner-5 {
	aspect-ratio: 1;
	display: grid;
}

.loader-spinner-5::before,
.loader-spinner-5::after {
	content: '';
	grid-area: 1/1;
	--c: no-repeat radial-gradient(farthest-side, var(--animation) 92%, #0000);
	background:
		var(--c) 50% 0,
		var(--c) 50% 100%,
		var(--c) 100% 50%,
		var(--c) 0 50%;
	background-size: 12px 12px;
	animation: s5 1s infinite;
}

.loader-spinner-5::before {
	margin: 4px;
	filter: hue-rotate(45deg);
	background-size: 8px 8px;
	animation-timing-function: linear
}

@keyframes s5 {
	100% {
		transform: rotate(.5turn)
	}
}



/* NOTE: THIS ORIGINALLY IS THE NUMBER 13*/
.loader-spinner-6 {
	aspect-ratio: 1;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, var(--animation) 94%, #0000) top/0.6rem 0.6rem no-repeat,
		conic-gradient(#0000 30%, var(--animation));
	mask: radial-gradient(farthest-side, #0000 calc(100% - 0.6rem), #000 0);
	animation: s6 1s infinite linear;
}

@keyframes s6 {
	100% {
		transform: rotate(1turn)
	}
}



/* NOTE: THIS ORIGINALLY IS THE NUMBER 15*/
.loader-spinner-7 {
	aspect-ratio: 1;
	display: grid;
	border: 0.4rem solid #0000;
	border-radius: 50%;
	border-right-color: var(--animation);
	animation: s7 1s infinite linear;
}

.loader-spinner-7::before,
.loader-spinner-7::after {
	content: '';
	grid-area: 1/1;
	margin: 2px;
	border: inherit;
	border-radius: 50%;
	animation: s7 2s infinite;
}

.loader-spinner-7::after {
	margin: 0.8rem;
	animation-duration: 3s;
}

@keyframes s7 {
	100% {
		transform: rotate(1turn)
	}
}



/* NOTE: THIS ORIGINALLY IS THE NUMBER 16*/
.loader-spinner-8 {
	aspect-ratio: 1;
	display: grid;
	border: 4px solid #0000;
	border-radius: 50%;
	border-color: var(--animation-background) #0000;
	animation: s8 1s infinite linear;
}

.loader-spinner-8::before,
.loader-spinner-8::after {
	content: '';
	grid-area: 1/1;
	margin: 2px;
	border: inherit;
	border-radius: 50%;
}

.loader-spinner-8::before {
	border-color: var(--animation) #0000;
	animation: snherit;
	animation-duration: .5s;
	animation-direction: reverse;
}

.loader-spinner-8::after {
	margin: 8px;
}

@keyframes s8 {
	100% {
		transform: rotate(1turn)
	}
}



/* NOTE: THIS ORIGINALLY IS THE NUMBER 20*/
.loader-spinner-9 {
	aspect-ratio: 1;
	border-radius: 50%;
	border: 0.6rem solid var(--animation);
	animation:
		s9-1 0.8s infinite linear alternate,
		s9-2 1.6s infinite linear;
}

@keyframes s9-1 {
	0% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
	}

	12.5% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
	}

	25% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
	}

	50% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
	}

	62.5% {
		clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
	}

	75% {
		clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
	}

	100% {
		clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
	}
}

@keyframes s9-2 {
	0% {
		transform: scaleY(1) rotate(0deg)
	}

	49.99% {
		transform: scaleY(1) rotate(135deg)
	}

	50% {
		transform: scaleY(-1) rotate(0deg)
	}

	100% {
		transform: scaleY(-1) rotate(-135deg)
	}
}



/* NOTE: THIS ORIGINALLY IS THE NUMBER 25*/
.loader-spinner-10 {
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--animation);
	mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
	transform-origin: 50% 40%;
	animation: s10 1s infinite linear;
}

@keyframes s10 {
	100% {
		transform: rotate(1turn)
	}
}
