/*
*/

@use 'styles/vars' as *;

.control {
    // #region general
    position: relative;
    width: 6.25rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
    // #endregion


    // #region unit elements
    &_element {
        position: absolute;
        display: none;
    }

    &_slider {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1.5625rem;
        transition: 0.3s;
        background-color: var(--accent);
        border: 0.1875rem solid var(--accent);
    }

    // #endregion


    // #region others
    &_element:checked~&_slider {
        background-color: var(--background);
    }

    &_slider::before {
        content: '';
        position: absolute;
        top: 0.625rem;
        left: 0.625rem;
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 50%;
        box-shadow: inset 0.75rem -0.25rem 0px 0px var(--background);
        background-color: var(--accent);
        transition: 0.3s;
    }

    &_element:checked~&_slider::before {
        transform: translateX(3.125rem);
        background-color: var(--accent);
        box-shadow: none;
    }

    // #endregion


    // #region derived states
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        .control_slider {
            background-color: var(--background-disabled);
            border-color: var(--border-disabled);

            &::before {
                box-shadow: inset 0.75rem -0.25rem 0px 0px var(--background-hover);
                background-color: var(--background-disabled);
            }
        }

        .control_element:checked~.control_slider::before {
            background-color: var(--background-hover);
        }
    }

    // #endregion


    // #region media queries
    // #endregion
}
