@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		&_image {
			position: fixed;
			inset: 0;
			background: url('/images/background_molecule.png') center/cover no-repeat;
			filter: blur(4px);
			transform: scale(1.05);
			opacity: 0.25;
			z-index: -1;
		}
	}

	&_actions {
		display: flex;
		flex-direction: column;
		margin-bottom: 4.8rem;
		gap: 2.4rem;
	}

	&_link {
		width: 100%;
		margin-block: 4.8rem 2.4rem;
	}

	// #endregion


	// #region others 

	// #endregion


	// #region derived states 
	&_loading {
		height: 70svh;
		display: grid;
		place-content: center;
	}

	// #endregion


	// #region media queries
	@include tablet {
		&_actions {
			position: fixed;
			left: 2.4rem;
			right: 2.4rem;
			bottom: 6.4rem;
			margin-bottom: 0;
		}
	}

	@include desktop {
		@include fontSizeDesktop;

		&_link {
			left: 2.4rem;
		}

		&_actions {
			position: static;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row-reverse;

			button {
				width: 50%;
			}
		}
	}

	@include large {
		&_link {
			left: 3.2rem;
		}
	}

	// #endregion
}