/*
*/

@use 'styles/vars' as *;

.element {
	// #region general
	display: flex;
	align-items: center;
	margin-block: 0.8rem;
	gap: 1.2rem;
	cursor: pointer;
	@include widthMobile;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_title {
		font-weight: bold;
		margin-block-end: 0.8rem;
		color: var(--content-secondary);
	}

	&_label {
		margin-block-end: 0.8rem;
	}

	// #endregion


	// #region others
	// #endregion


	// #region derived states
	&.disabled {
		cursor: not-allowed;

		p {
			color: var(--content-disabled);
		}
	}

	&.element:not(.disabled):hover {
		background-color: var(--background-hover);

		p:nth-of-type(1) {
			font-weight: 700;
		}
	}

	// #endregion


	// #region media queries
	@include tablet {
		@include widthTablet;
	}

	@include desktop {
		@include fontSizeDesktop;
	}


	// #endregion
}
