/*
*/

@use 'styles/vars' as *;

.menu {
	// #region general
	width: 100%;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	// #endregion


	// #region others
	// #endregion


	// #region derived states
	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}
