@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion

	// #region unit elements
	&_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&_heading {
		width: 100%;

		&_main {
			display: flex;
			align-items: center;
			gap: 1.6rem;
		}

		&_head {
			margin-block-start: 1.6rem;
		}
	}

	&_label {
		color: var(--content-secondary);
	}

	&_form {
		padding-block-end: 9.1rem;

		&_input {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			margin-block-end: 4.8rem;
		}

		&_files_resume {
			font-size: $p1;
			font-weight: 700;
			text-align: right;
			color: $blue10;
			margin-block: 1.6rem;
		}
	}

	&_loading {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 40svh;

		&_main {
			width: 100%;
			margin-block-end: 6.4rem;
		}
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {
		&_form {
			&_second {
				margin-block-end: 6.4rem;
			}

			&_input {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 2.4rem;
			}
		}

		&_actions {
			position: fixed;
			left: 2.4rem;
			right: 2.4rem;
			bottom: 6.4rem;
		}
	}

	@include desktop {
		@include fontSizeDesktop;

		&_form {
			padding-block-end: 4.8rem;

			&_first,
			&_second {
				width: 50%;
			}

			&_wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 2.4rem;
				margin-block-end: 2.4rem;
			}
		}

		&_actions {
			position: static;
			display: flex;
			justify-content: flex-end;

			button {
				width: 43rem;
			}
		}
	}

	@include large {}

	// #endregion
}