/* 
*/

@use 'styles/vars' as *;

.card {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_title,
	&_subtitle {
		font-weight: 700;
		color: var(--content-secondary);
	}

	&_subtitle {
		margin-block-end: 0.8rem;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}