/* 
*/
@use 'sass:list';
@use 'styles/vars' as *;

.dark {
	:global(.milkdown) {
		$colors: (
			background: $dark-background,
			on-background: $dark-content,
			surface: $dark-background-secondary,
			surface-low: $dark-content-disabled,
			on-surface: $dark-content,
			on-surface-variant: $dark-background-secondary,
			outline: $dark-border,
			primary: $dark-primary,
			secondary: $dark-secondary,
			on-secondary: $dark-content,
			inverse: $dark-content-secondary,
			on-inverse: $dark-content-secondary,
			inline-code: $dark-warning,
			error: $dark-negative,
			hover: $dark-background-hover,
			selected: $dark-content-disabled,
			inline-area: $dark-content-secondary,
		);


	@each $name, $value in $colors {
		--crepe-color-#{$name}: #{$value};
	}

	--crepe-shadow-1: 0rem 0.1rem 0.2rem 0rem rgba($gray50, 0.3),
	0rem 0.1rem 0.3rem 0.1rem rgba($gray50, 0.15);

	--crepe-shadow-2: 0rem 0.1rem 0.2rem 0rem rgba($gray50, 0.3),
	0rem 0.2rem 0.6rem 0.2rem rgba($gray50, 0.15);


	color: var(--crepe-color-on-background);
	background: var(--crepe-color-background);


	:global(.ProseMirror) {
		padding: 0 !important;

		*::selection {
			background: var(--crepe-color-selected);
		}

		:global(.ProseMirror-selectednode) {
			background: var(--crepe-color-selected);

			::selection,
			&::selection {
				background: transparent;
			}
		}

		&[data-dragging='true'] {

			:global(.ProseMirror-selectednode),
			&::selection,
			*::selection {
				background: transparent;
			}

			input::selection {
				background: var(--crepe-color-selected);
			}
		}

		img {
			&:global(.ProseMirror-selectednode) {
				background: none;
				outline: 0.2rem solid var(--crepe-color-primary);
			}
		}


		code {

			color: var(--crepe-color-inline-code);
			background: color-mix(in srgb, var(--crepe-color-inline-area), transparent 40%);

		}

		a {
			color: var(--crepe-color-primary);
		}

		pre {
			background: color-mix(in srgb, var(--crepe-color-inline-area), transparent 40%);


			code {
				background: transparent;
			}
		}

		blockquote {
			&::before {
				background: var(--crepe-color-selected);
			}
		}

		hr {
			background-color: color-mix(in srgb, var(--crepe-color-outline), transparent 80%);

			&:global(.ProseMirror-selectednode) {
				background-color: color-mix(in srgb, var(--crepe-color-outline), transparent 20%);

				&::before {
					background-color: color-mix(in srgb, var(--crepe-color-outline), transparent 80%);
				}
			}
		}
	}
}
}