/* 
*/

@use 'styles/vars' as *;

.chart {

	// #region general
	border: 1px solid transparent;
	@include widthMobile;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_title {
		display: flex;
		justify-content: space-between;
		color: var(--content);

		&_main {
			p:nth-of-type(1) {
				font-size: $p3;
			}

			p:nth-of-type(2) {
				font-size: $small;
			}
		}
	}

	&_help {
		position: relative;

		&_main {
			opacity: 0;
			position: absolute;
			top: -7rem;
			left: calc(-20%);
			transition: opacity 0.3s;
		}
	}

	&_divisor {
		width: 100%;
		height: 0.1rem;
		margin-block: 1.2rem;
		border-bottom: 0.1rem solid var(--border);
	}

	&_main {
		display: grid;
		place-items: center;
		width: 100%;
		height: 35rem;
	}

	&_help:hover>&_help_main {
		opacity: 1;
	}

	&.hover:hover {
		cursor: pointer;
		border: 0.1rem solid var(--border);
	}


	// #endregion


	// #region others 
	&.hover {
		padding: 1.6rem;
		margin-block-end: 1.6rem;
	}

	// #endregion


	// #region derived states 
	&.mini {
		border: none;
	}

	&.mini>&_main {
		height: 20rem;
	}

	// #endregion


	// #region media queries
	@include tablet {
		max-width: 70rem;
	}

	@include desktop {
		max-width: 50rem;
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}