@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		&_image {
			position: fixed;
			inset: 0;
			background: url('/images/background_molecule.png') center/cover no-repeat;
			filter: blur(4px);
			transform: scale(1.05);
			opacity: 0.25;
			z-index: -1;
		}
	}

	&_form {
		width: 100%;
	}

	&_section {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		margin-block: 3.2rem;
	}

	&_actions {
		display: flex;
		flex-direction: column;
		position: absolute;
		gap: 2.4rem;
		bottom: 3.2rem;
		left: 1.6rem;
		right: 1.6rem;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {
		&_actions {
			position: fixed;
			left: 2.4rem;
			right: 2.4rem;
			bottom: 6.4rem;
			margin-bottom: 0;
		}
	}

	@include desktop {
		@include fontSizeDesktop;

		&_section {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		&_actions {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-start;
			flex-direction: row-reverse;
			margin-inline-end: 10rem;

			button {
				width: 50rem;
			}
		}
	}

	@include large {}

	// #endregion
}