/*
*/

@use 'styles/vars' as *;

.pages {
	// #region general
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-inline: 1.6rem;
	gap: 0.4rem;
	margin-block: 2.4rem;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_wrap {
		display: flex;
		justify-content: center;
	}

	&_item {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: 0.4rem;
	}

	&_title {
		max-width: 15rem;
	}

	&_line {
		width: 5rem;
	}

	// #endregion


	// #region others
	.space {
		gap: 1.6rem;
	}

	&.space {
		gap: 2.4rem;
	}

	// #endregion


	// #region derived states
	// #endregion


	// #region media queries
	@include tablet {
		&.space {
			gap: 3.2rem;
		}
	}

	@include desktop {
		@include fontSizeDesktop;
	}

	// #endregion
}
