/* 
*/
@use 'styles/vars' as *;


.input {
	// #region general
	@include widthInputMobile;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_title {
		color: var(--content);
		margin-block-end: 1.2rem;

		&_wrap {
			display: flex;
			justify-content: space-between;
		}
	}

	&_symbol {
		display: grid;
		place-content: center;

		span {
			color: var(--content-secondary);
			border-radius: 50%;
		}
	}

	&_main {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		padding: 0.4rem 1.2rem;
		margin-block-end: 1.2rem;
		width: 100%;
	}

	&_element {
		width: 100%;
		height: 2.4rem;
		border: none;
		cursor: pointer;
		background-color: transparent;
		color: var(--content);
		font-family: $font-main;
	}

	&_icon {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
		gap: 1.2rem;

		span {
			color: var(--primary);
			border-radius: 50%;
		}
	}

	&_count {
		margin-block-end: 0.8rem;
	}

	&_hints {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		margin-block-end: 1.6rem;
	}


	&_main,
	&_pin,
	&_drop {
		background-color: var(--background-secondary);
		border: 0.1rem solid var(--border);
	}


	/* for input phone */
	&_wrap {
		display: flex;
		align-items: center;
		gap: 0.4rem;
		position: relative;

		&:has(.input_pin) {
			gap: 2.4rem;
		}

		&:has(.input_search) {
			gap: 0;
		}

		&:has(.input_radio) {
			align-items: start;
			flex-direction: column;
			margin-block-end: 0.8rem;
			user-select: none;
		}
	}

	&_drop {
		margin-block-end: 1.2rem;

		&:has(.input_drop_main_select) {
			width: 100%;
		}

		&_main,
		&_main_select {
			display: flex;
			align-items: center;
			padding: 0.4rem 1.2rem;
			gap: 0.8rem;
			user-select: none;
		}

		&_selection {
			position: absolute;
			left: 0;
			top: 3rem;
			max-height: 20rem;
			margin-block: 1.6rem;
			overflow-y: auto;
			z-index: 1000;
			background-color: var(--background-secondary);
			@include shadow;
			@include borderRadius;

			&_item {
				display: flex;
				align-items: center;
				gap: 1.2rem;
				padding: 1.6rem;

				p:nth-of-type(2) {
					color: var(--content-secondary);
				}
			}
		}
	}

	/* for input pin */
	&_pin {
		width: 4.2rem;
		height: 4.2rem;
		margin-block-end: 1.6rem;
		text-align: center;
		font-weight: 700;
	}


	/* for input search */
	&_search {
		margin-block-end: 1.2rem;
	}


	/* for input radio */
	&_radio {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		cursor: pointer;
	}


	/* for input upload */
	&_upload {
		display: grid;
		place-content: center;
		gap: 0.8rem;
		padding: 1.2rem;
		border: 0.2rem dashed var(--border);

		p {
			justify-content: center;
			text-align: center;
		}
	}

	.drag {
		border: 0.2rem dashed var(--border-selected);
	}

	// #endregion


	// #region others 
	&_element:focus-visible {
		outline: none;
	}

	&_radio:hover {
		opacity: 0.6;
	}

	&_main:hover,
	&_main:focus-within,
	&_main:focus-visible,
	&_drop_main:hover,
	&_drop_main_select:hover {
		outline: 0.2rem solid var(--border-selected);
	}

	&_drop_selection_item:hover {
		background-color: var(--background-hover);

		p:nth-of-type(1) {
			font-weight: 700;
		}
	}

	&_element::placeholder {
		color: var(--content-secondary);
	}

	// #endregion


	// #region derived states 
	.bold {
		font-weight: 700;
	}

	&.warning:not(.disabled) {
		.input {

			&_main,
			&_pin,
			&_upload {
				border-color: var(--border-warning);
			}

			&_main:hover,
			&_main:focus-within,
			&_main:focus-visible,
			&_pin:hover,
			&_pin:focus-within,
			&_pin:focus-visible,
			&_upload:hover,
			&_upload:focus-within,
			&_upload:focus-visible {
				outline: 0.2rem solid var(--border-warning);
			}

			&_icon span,
			&_count {
				color: var(--negative);
			}
		}
	}

	&.error:not(.disabled) {
		.input {

			&_main,
			&_pin,
			&_upload {
				border-color: var(--border-negative);
			}

			&_main:hover,
			&_main:focus-within,
			&_main:focus-visible,
			&_pin:hover,
			&_pin:focus-within,
			&_pin:focus-visible,
			&_upload:hover,
			&_upload:focus-within,
			&_upload:focus-visible {
				outline: 0.2rem solid var(--border-negative);
			}

			&_icon span,
			&_count {
				color: var(--negative);
			}
		}
	}

	&.done:not(.disabled) {
		.input {

			&_main,
			&_pin,
			&_upload {
				border-color: var(--border-positive);
			}

			&_main:hover,
			&_main:focus-within,
			&_main:focus-visible,
			&_pin:hover,
			&_pin:focus-within,
			&_pin:focus-visible,
			&_upload:hover,
			&_upload:focus-within,
			&_upload:focus-visible {
				outline: 0.2rem solid var(--border-positive);
			}

			&_icon span,
			&_count {
				color: var(--positive);
			}
		}
	}

	.disabled & {

		&_title,
		&_element,
		&_symbol span,
		&_drop_main,
		&_main::placeholder,
		&_count {
			color: var(--content-disabled);
		}

		&_main,
		&_drop,
		&_pin {
			border-color: var(--border-disabled);
			background-color: var(--background-disabled);
		}

		&_main:hover,
		&_main:focus-within,
		&_main:focus-visible,
		&_drop_main,
		&_drop_main_select:hover {
			outline: none;
			cursor: not-allowed;
		}

		&_element,
		&_pin {
			cursor: not-allowed;
		}
	}

	// #endregion


	// #region media queries
	@include tablet {
		@include widthInputTablet;
	}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {
		@include widthInputLarge;
	}

	// #endregion
}