/* 
*/
@use 'styles/vars' as *;

.tooltip {
	// #region general
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	padding: 1.2rem;
	// #endregion


	// #region unit elements
	&_symbol {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		cursor: pointer;
	}

	&_main {
		display: flex;
		align-items: center;
		position: absolute;
		padding-inline: 1.2rem;
		top: 0;
		bottom: 0;
		z-index: 1000;
		left: calc(100% - 0.4rem);
		gap: 0.8rem;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease, transform 0.3s ease;
		transform: scaleX(0);
		transform-origin: left;
	}

	&_label {
		font-weight: 700;
	}

	&_close {
		cursor: pointer;
	}

	// #endregion


	// #region others 
	&.black {
		color: $black;
	}

	&.white {
		color: $white;
	}

	.rollIn {
		// #region general
		opacity: 1;
		transform: scaleX(1);
		pointer-events: auto;
		// #endregion
	}

	.rollOut {
		// #region general
		opacity: 0;
		transform: scaleX(0);
		pointer-events: none;
		// #endregion
	}

	// #endregion


	// #region derived states 
	&:not(.disabled) &_symbol:hover,
	&:not(.disabled) &_close:hover {
		opacity: 0.60;
	}

	&.disabled,
	&.disabled &_symbol {
		cursor: not-allowed;
	}

	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}