/*

*/

@use 'styles/vars' as *;

.tab {
	// #region general
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	cursor: pointer;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_label {
		color: var(--content-secondary);
	}

	// #endregion


	// #region others
	&:hover {
		opacity: 0.6;
	}

	// #endregion


	// #region derived states
	.selected &_label {
		color: var(--content);
		font-weight: 700;
	}

	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}
