/*
*/

@use 'styles/vars' as *;

.wrap {
	// #region general
	width: 100%;
	// #endregion


	// #region unit elements
	&.column {
		flex-direction: column;
	}

	&.row {
		flex-direction: row;
	}

	&.padding {
		@include paddingMobile;
	}

	// #endregion


	// #region others
	// #endregion


	// #region derived states
	&.margin {
		margin-block: 1.6rem 4.8rem;
	}

	// #endregion


	// #region media queries
	@include tablet {
		&.padding {
			@include paddingTablet;
		}

		&.margin {
			margin-block: 2.4rem 4.8rem;
		}

	}

	@include desktop {
		max-width: 80vw;

		&.padding {
			@include paddingDesktop;
		}

		&.margin {
			margin-block-end: 6.4rem;
		}
	}

	@include large {
		&.padding {
			@include paddingLarge;
		}
	}

	// #endregion
}
