@use 'styles/vars' as *;

.carrousel {
	// #region general
	display: block;
	margin-block: 1.6rem;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_up,
	&_down {
		display: flex;
		margin-block-end: 2.4rem;
		will-change: transform;
		backface-visibility: hidden;
		perspective: 1000px;
		overflow: hidden;
	}

	.item {
		position: relative;
		margin-inline: 1.2rem;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	.tracker {
		display: flex;
		gap: 2.4rem;
		will-change: transform;
		backface-visibility: hidden;
		transform: translate(0);
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}