/* 
*/

@use 'styles/vars' as *;

.card {
	// #region general
	@include fontSizeMobile;
	@include widthMobile;
	// #endregion


	// #region unit elements
	&_header {
		display: flex;
		justify-content: space-between;
		margin-block-end: 1.2rem;
	}

	&_main {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
		gap: 2.4rem;
		margin-block-end: 0.8rem;
	}

	&_content {
		display: grid;
		place-content: center;
		width: fit-content;
	}

	&_subcontent {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {

		&_main {
			flex-direction: row;
		}

		&_subcontent {
			display: grid;
			column-gap: 1.6rem;
			grid-template-columns: 1fr 1fr;
		}
	}

	@include desktop {
		&_subcontent {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}