/* 
*/

@use 'styles/vars' as *;

.card {
	// #region general
	width: 100%;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_header {
		display: flex;
	}

	&_main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2.4rem;
	}

	&_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&_actions {
		display: flex;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {
		&_main {
			flex-direction: row-reverse;
		}

		&_content,
		&_subcontent {
			width: 50%;
		}
	}

	@include desktop {
		&_content {
			width: 30%;
		}

		&_subcontent {
			width: 70%;
		}

		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}