@use 'styles/vars' as *;

.card {
	// #region general
	min-width: 35rem;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_name {
		color: var(--secondary);
		margin-block: 2.4rem 0.8rem;
	}

	&_position {
		font-size: $p2;
		font-weight: 700;
		margin-block-end: 0.4rem;
	}

	&_brief {
		font-size: $p1;
		color: var(--content-secondary);
		margin-block-end: 0.4rem;
	}

	// #endregion


	// #region others

	// #endregion


	// #region derived states

	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}
