/* 
*/

@use 'styles/vars' as *;

.navigator {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_ul {
		display: flex;
		align-items: center;
		justify-content: center;
		// gap: 0.8rem;
		width: 100%;
		padding-block-end: 0.8rem;
		@include paddingMobile;
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {
		&_ul {
			@include paddingTablet;
		}
	}

	@include desktop {
		&_ul {
			@include paddingDesktop;
		}

		@include fontSizeDesktop;
	}

	@include large {
		&_ul {
			@include paddingLarge;
		}
	}

	// #endregion
}