@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2.4rem;
		width: 100%;
		margin-block: 6.4rem;
	}

	// #endregion


	// #region others 

	// #endregion


	// #region derived states 

	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}