/*
*/


@use 'styles/vars' as *;

.card {
	// #region general
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 0.1rem solid var(--border);
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_overlay {
		position: absolute;
		inset: 0;
		z-index: 10;
		background-color: var(--background-overlay);
	}

	&_wrap,
	&_overlay_wrap {
		position: relative;
		z-index: 20;
		padding: 1.6rem;
		padding-block-end: 0;
	}

	&_overlay_wrap {
		display: grid;
		padding-block: 4.8rem;
		color: var(--content);
	}

	&_artwork {
		width: 100%;
		height: 15rem;
		position: relative;
	}

	&_background {
		width: 100%;
		height: 100%;
		position: relative;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
	}

	&_image {
		object-fit: cover;
	}

	&_header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-block-end: 1.6rem;
	}

	&_main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		gap: 0.8rem;
		margin-block-end: 0.8rem;
	}

	&_content {
		width: 100%;
	}

	&_subcontent {
		width: 100%;
		margin-block: 1.6rem;
	}

	&_actions {
		display: flex;
		position: relative;
		border-block-end: 0.1rem solid var(--border);
	}

	&_button {
		width: fit-content;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&_footer {
		padding: 1.6rem;
		position: relative;
		z-index: 20;
		color: var(--content);
		background-color: var(--background-secondary);
	}

	// #endregion


	// #region others
	// #endregion


	// #region derived states
	.flexend {
		justify-content: flex-end;
	}

	// #endregion


	// #region media queries
	@include tablet {
		&_overlay_wrap {
			padding: 3.2rem;
		}

		&_main {
			flex-wrap: nowrap;
		}

		&_subcontent {
			width: fit-content;
			margin-block: 1.6rem;
		}

		&_footer {
			padding: 1.6rem;
		}
	}

	@include desktop {
		&_main {
			gap: 1.8rem;
		}

		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}
