/* 
*/

@use 'styles/vars' as *;

.section {
	// #region general
	// #endregion


	// #region unit elements`
	&_subtitle {
		font-size: $p3;
		margin-block-end: 1.6rem;
	}

	&_nav {
		ul {
			display: grid;
		}

		&_link,
		&_scroll,
		&_item {
			display: flex;
			align-items: center;
			font-size: $small;
			color: var(--accent);
			margin-block-end: 1.2rem;
			font-size: $p1;
		}

		&_scroll {
			cursor: pointer;
		}

		&_item:last-of-type {
			margin-block-end: 0;
		}
	}

	// #endregion


	// #region others 
	&_nav {

		&_link,
		&_scroll {
			&:hover {
				opacity: 0.6;
			}
		}
	}

	&_link_label:hover {
		text-decoration: underline;
	}

	.first {
		padding-inline-start: 0;
		margin-block-end: 1.2rem;
	}

	.second {
		padding-inline-start: 1.6rem;
		margin-block-end: 1.2rem;
	}

	.third {
		padding-inline-start: 3.2rem;
		margin-block-end: 0.8rem;
	}


	// #endregion


	// #region derived states 
	.active {
		font-weight: 700;
	}

	// #endregion


	// #region media queries
	@include tablet {

		&_nav_link,
		&_nav_scroll,
		&_nav_item {
			font-size: $p1;
		}
	}

	@include desktop {

		&_nav_link,
		&_nav_scroll,
		&_nav_item {
			font-size: $p2;
		}
	}

	@include large {}

	// #endregion
}