@use 'styles/vars' as *;


@mixin inputLoginStyles {
	// #region general
	@include widthMobileInput;
	@include fontSizeMobile;
	margin-block: 0.8rem;
	// #endregion


	// #region unit elements
	&__title {
		font-weight: bold;
		margin-block-end: 1.2rem;
	}

	&__main {
		display: flex;
		height: fit-content;
		gap: 0.8rem;
		padding: 0.8rem 1.6rem;
		margin-block-end: 0.8rem;
		border: 2px solid $black;

	}

	&__element {
		font-family: $font-main;
		font-size: $p1;
		width: 100%;
		height: 3.5rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__element:focus-visible {
		outline: none;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $p2;
		border-radius: 50%;
		cursor: pointer;
		user-select: none;
		gap: 1.2rem;

		span {
			border-radius: 50%;
			color: $white;
			background-color: $c_primary;
		}
	}

	&__show {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-inline-start: 1.2rem;
		border-radius: 50%;
		cursor: pointer;
	}

	// #endregion


	// #region others 
	&__main:hover,
	&__main:focus-within,
	&__main:focus-visible {
		border-color: $br_accent;
	}

	&__main input::placeholder {
		font-size: $p1;
		color: $black;
	}

	// #endregion


	// #region derived states 
	.success &__icon span {
		background-color: $bk_positive;
		color: $white;
		border-radius: 50%;
	}

	.error &__icon span {
		background-color: $bk_warning;
		color: $white;
		border-radius: 50%;
	}

	.success &__main:focus-visible,
	.success &__main:focus-within,
	.success &__main:hover {
		border-color: $br_positive;
		outline: $br_positive;
	}

	.error &__main:focus-visible,
	.error &__main:focus-within,
	.error &__main:hover {
		border-color: $br_warning;
		outline: $br_negative;
	}

	.disabled,
	.disabled &__title {
		color: $c_secondary;
	}

	.disabled &__element {
		cursor: not-allowed;
		color: $c_secondary;
		background-color: transparent;

		&::placeholder {
			color: $c_secondary;
		}
	}

	.disabled &__main {
		background-color: $bk_disabled;
	}

	.disabled &__main:hover,
	.disabled &__main:focus-within,
	.disabled &__main:focus-visible {
		border-color: $br_primary;
		outline: none;
	}

	.disabled &__main,
	.disabled &__icon {
		color: $c_secondary;

		span {
			cursor: not-allowed;
			background-color: $c_secondary;
		}
	}

	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {
		@include widthLargeInput;
	}

	// #endregion
}