/*
*/

@use 'styles/vars' as *;

.element {
	// #region general
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-block-end: 1.6rem;
	user-select: none;
	cursor: pointer;
	@include fontSizeMobile;
	@include widthInputMobile;
	// #endregion


	// #region unit elements
	&_main {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		padding-inline-end: 1.6rem;
	}

	&_label {
		font-weight: 700;
		text-align: left;
		text-decoration: underline;
	}

	&_text {
		display: inherit;
		align-items: center;
		gap: 2.4rem;

		&_symbol {
			color: var(--accent);
		}
	}

	&_size {
		font-style: italic;
		color: var(--content-secondary);
	}

	// #endregion


	// #region others
	&:not(.close):hover {
		opacity: 0.5;
	}

	&.close &_text_symbol:hover {
		opacity: 0.6;
		cursor: pointer;
	}

	// #endregion


	// #region derived states
	// #endregion


	// #region media queries
	@include tablet {
		@include widthInputTablet;
	}

	@include desktop {
		@include widthInputDesktop;
	}

	@include large {
		@include widthInputLarge;
	}

	// #endregion
}
