/*
*/

@use 'styles/vars' as *;

.cell {
	// #region general
	display: flex;
	align-items: center;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_link {
		color: var(--accent);
	}

	&_bold {
		font-weight: 700;
	}

	// #endregion


	// #region others
	&_link:hover {
		opacity: 0.6;
	}

	// #endregion


	// #region derived states

	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}
