@use 'styles/vars' as *;

.video {
	// #region general
	position: relative;
	width: 100%;
	height: 100svh;
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_element {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 0.1s ease-in-out;
	}

	&_content {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	// #endregion


	// #region others
	// #endregion


	// #region derived states
	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}
