@use 'styles/vars' as *;

.page {
	// #region general
	@include fontSizeMobile;
	// #endregion


	// #region unit elements
	&_heading {
		&_main {
			display: flex;
			align-items: center;
			gap: 1.6rem;
		}

		&_head {
			margin-block-start: 1.6rem;
		}
	}

	&_form {
		padding-block-end: 9.1rem;

		&_structure {
			display: flex;
			flex-direction: column;
			gap: 2.4rem;
		}
	}

	// #endregion


	// #region others 
	// #endregion


	// #region derived states 
	// #endregion


	// #region media queries
	@include tablet {}

	@include desktop {
		@include fontSizeDesktop;
	}

	@include large {}

	// #endregion
}